@font-face 
{
    font-family: Laila;
    src: url(../../../fonts/Laila/Laila-Regular.ttf);
}
@font-face 
{
    font-family: Montserrat;
    src: url(../../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face 
{
    font-family: Pacifico;
    src: url(../../../fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face 
{
    font-family: Sacramento;
    src: url(../../../fonts/Sacramento/Sacramento-Regular.ttf);
}
@font-face 
{
    font-family: Code;
    src: url(../../../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}
html
{
    margin: 0;
    background-image: url(../images/img/background2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Montserrat;
}
a:link
{
    color: white;
    text-decoration: none;
}
a:visited
{
    color: white;
}
body
{
    margin: 0;
}
#faixa1
{
    margin: 0;
    background-color: #b6c77d;
    height: 35px;
    width: 100%;
}
#social
{
    float: right;
}
#social p
{
    font-weight: 500;
    display: inline;
    position: relative;
    top: -6px;
    margin-right: 5px;
    font-size: 17.5px;
}
.socials
{
    margin: 5px 5px 0 0;
    height: 25px;
    width: 25px;
}
#faixa2
{
    background-color: #e6ceaa;
    display: flex;
}
div#logo
{
    height: 150px;
}
div#menu
{
    width: 100%;
}
#faixa2 img
{
    height: 140px;
    margin: 5px 25px;
}
nav
{
    width: 100%;
}
#menu ul
{
    padding: 0px;
    list-style: none;
    height: 150px;
    margin: 0;

    align-items: center;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#menu ul li
{
    display: inline;
    width: 225px;
    margin: 10px 0px 10px 0px;

    font-size: 25px;
    text-align: center;

}
#menu ul li a 
{
    display: inline-block;
    color: #000000;
    padding: 25px 10px;
}
